@model Instructore

<h1>instructor details</h1>

<h2>name: @Model.Name</h2>
<h2>Image: @Model.Image</h2>
<h2>Salary: @Model.Salary</h2>
<h2>Address: @Model.Address</h2>
<h2>dept_code: @Model.dept_id</h2>
<h2>crs_Code: @Model.crs_id</h2>
<a href="/Instructor/Index"></a>

